html, body {
    height: 100%;
    margin:0;
    padding:0;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
}

input, button {
    font-size: 20px;
    font-family: monospace;
}

@font-face {
    font-family: software_tester_7;
    src: url(software_tester_7.ttf);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black
}

a:hover {
    color: #36D7B7;
}

hr {
    margin: 0px;
}

#title {
    position: relative;
    font-family: software_tester_7;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-decoration: none;
    color: #36D7B7;
}

#title-left {
    display: none;
    position: absolute;
    left: 0;
    font-size: 33px;
    padding: 14px;
}

#title-left:hover {
    cursor: pointer;
    color: white;
}

#title-mid {
    padding-top: 5px;
    font-size: 50px;
    text-align: center;
}

#title-right {
    background-image: url("icons/settings.svg");
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    display: none;
    position: absolute;
    right: 0;
}

#title-right:hover {
    background-image: url("icons/settings-white.svg");
    cursor: pointer;
}

#title a:hover {
    color: white;
}

.btn {
    max-width: 400px;
    color: black;
    background: white;
    padding: 15px 0px;
    outline: none;
    border: 3px solid black;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    color: white;
    background: black;
}

#chat-room {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    max-width: 600px;
    border-color: #36D7B7;
    overflow: hidden;
    background-color: black;
    border-style: solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    z-index: 1;
}

#chat-room-window {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 60px;
    bottom: 90px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
}

.chat-msg {
    margin-bottom: 11px;
    word-wrap: break-word;
}

.bubble-left {
    margin-left: 7px;
    display: inline-block;
    position: relative;
    max-width: 400px;
    color: white;
    padding: 7px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    word-wrap: break-word;
}

.bubble-left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: inherit;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -7px;
    left: -6px;
    top: 50%;

}

#messages {
    overflow: auto;
    height: 100%;
}

#menu-wrapper {
    display: none;
    background-color: #eeeeee;
    float:right;
    height: 100%;
    padding-left: 5px;
    margin-left: 5px;
    border-left: 2px solid #36d7b7;
}

#input-form {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

#input-text {
    height: 50px;
    width: 434px;
    margin-left: 14px;
    margin-right: -14px;
    display: inline;
    color: white;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    outline: none;
}

#send-btn {
    height: 58px;
    width: 120px;
    display: inline;
    color: white;
    background: black;
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    outline: none;
}

#send-btn:hover {
    background: #36D7B7;
}

.circle {
    display:inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

#friends{
    padding-top: 10px;
    display: none;
}

.friend-box {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;  
    padding-bottom: 10px;  
}

.friend:hover {
    cursor: pointer;
    background-color: #dddddd;
}

#refresh {
    position: absolute;
    bottom: 7px;
    margin-left:: 20px;
}

#settings {
    padding-top: 10px;
    display: none;
    padding-right: 9px;
    padding-left: 4px;
    font-weight: bold;
}

.unread {
    font-weight: bold;
}

.friend-info {
    background-image: url("icons/info.svg");
    background-size: 35px 35px;
    float: right;
    position: relative;
    bottom: 5px;
    width: 35px;
    height: 35px;
}

.friend-info:hover {
    cursor: pointer;
    background-image: url("icons/info-green.svg");
}

.friend-info-card {
    
}
